<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375599021687-gi0dpt5qpdgab2aho3bfdh93634arfp5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375599021687-gi0dpt5qpdgab2aho3bfdh93634arfp5</string>
	<key>API_KEY</key>
	<string>AIzaSyCuYoeKz7ywUxYT0idK_ZxohNpf2x9Kuxk</string>
	<key>GCM_SENDER_ID</key>
	<string>375599021687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceMuzamil</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-7c899</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-7c899.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375599021687:ios:f34b57d88acd32a4339072</string>
</dict>
</plist>